<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagenes/favicon-32x32.png" type="png" sizes="32">
    <link rel="stylesheet" href="css/loadFile.css">
    <title>Load page</title>
</head>
<body>
    <div class="form-containner">
        <form action='/upload' method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <br>
            <select id="my-select" name="devices" multiple="multiple" required>
            </select>
            <br>
            <select name="type" required>
                <option value="0">SYSTEL</option>
                <option value="1">FIRES</option>
                <option value="2">INTELLIBUILD</option>
                <option value="3">COTO</option>
                <option value="4">DIGI</option>
                <option value="5">SDR</option>
                <option value="7">BIZERBA</option>
                <option value="8">SICAR</option>
                <option value="9">ITENS_MGV5</option>
                <option value="10">ITENS_MGV6</option>
                <option value="11">ITENS_MGV7</option>
                <option value="12">MT8450</option>
                <option value="13">ITENS_ERPtoMGV</option>
            </select>
            <br>
            <input id="btn-submit" type="submit" value="Subir">
        </form>
    </div>
    <script>

        let select = document.getElementById('my-select');

        let datos = JSON.parse(window.localStorage.getItem('datos'));
        if (datos.length > 0){            
            datos.map((e)=>{
                select.innerHTML +='<option value="'+e.name+'">'+e.name.replaceAll('-', ' ').trim()+'</option>';                                
            });
        }
    </script>    
</body>
</html>